@media only screen and (max-width: 1300px) {
    #content img {
        width: 30%;
    }
}

@media only screen and (max-width: 950px) {
    #content img {
        width: 40%;
    }

    #nav-container {
        width: 80vw;
    }

    #cities-section {
        width: 80vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: initial;
    }

    #content hr {
        width: 80vw;
    }
}

@media only screen and (max-width: 600px) {
    #content img {
        width: 70%;
    }

    #cities-section {
        grid-template-columns: 1fr 1fr;
    }

    #analysis-modal {
        background: linear-gradient( 180deg, #a8a0b9 0%, rgba(242, 242, 248, 0.86) 54.69%, rgba(242, 242, 248, 0.75) 92.19% );
    }

    #prices-row {
        margin: 0px 15px;
        margin-bottom: 35px;
    }

    #prices-row > div:nth-of-type(2) {
        color: transparent;
    }

    .prices {
        font-size:26px;
    }

    #decision-area p {
        margin: 0px 15px;
    }

    footer {
        min-height: 80px;
    }
}
