@import url("https://fonts.googleapis.com/css2?family=Coda&family=Poppins&display=swap");

:root {
    --accent: #3c3c4a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #fafaff 0%, #ffffff 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Poppins, sans-serif;
    color: var(--accent);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

nav,
footer {
    width: 100%;
    min-height: 50px;
    background-color: var(--accent);
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: center;
    color: #e7e7f3;
    box-shadow: 0px 0px 5px 2px #c4c0dd;
    background: linear-gradient(var(--accent), #585866);
}

nav li {
    list-style: none;
    display:inline-block;
}

nav li:first-of-type {
    margin-right:50px;
}

nav a {
    color: #e7e7f3;
    text-decoration: none;
}

nav a:hover {
    color:white;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 75%;
    max-width: 1440px;
}

#site-title {
    font-family: Coda, sans-serif;
    font-size: 17px;
    cursor:default;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    width: 75vw;
}

#content img {
    width: 25%;
    margin-bottom: 25px;
}

#search-section {
    display: flex;
}

#search-icon-container,
#location-textbox {
    background-color: #f2f2f8;
    border: none;
    outline: none;
    padding: 5px 10px;
}

#search-icon-container {
    border-radius: 5px 0px 0px 5px;
    padding-right: 0px;
    color: #82828d;
}

#location-textbox {
    border-radius: 0px 5px 5px 0px;
    color: var(--accent);
    font-family: Poppins, sans-serif;
    font-size: 15px;
    width: 200px;
}

#autocomplete-container {
    height: 150px;
}

#autocomplete-box {
    position: relative;
    z-index: 99;
    height: 0px;
    width: 226px;
    background-color: #f2f2f8;
    border-radius: 0px 0px 5px 5px;
    transition: height 0.2s;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: auto;
    scrollbar-color: #ceced5 #f2f2f8;
    scrollbar-width: thin;
}

#autocomplete-box a {
    margin-left: 36px;
    font-size: 14px;
    color: grey;
    text-decoration: none;
}

#autocomplete-box a:hover {
    color: var(--accent);
}

#content hr {
    width: 50%;
    margin: 25px 0px;
    color: #efeff7;
    border: solid 2px;
}

#cities-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    width: 50%;
    overflow: hidden;
    text-align: center;
    width: 75%;
    overflow: hidden;
    text-align: center;
    gap: 15px;
}

#cities-section a {
    color: var(--accent);
    text-decoration: none;
    cursor: pointer;
}

#cities-section a:hover {
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cacad2;
    text-align:center;
}

footer p {
    max-width:90%;
}

footer a {
    color: #e7e7f3;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#analysis-modal {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
    text-align: center;
    width: 90%;
    height: 0%;
    border-radius: 15px;
    background: linear-gradient(
        180deg,
        #bcc6d9 0%,
        rgba(242, 242, 248, 0.86) 54.69%,
        rgba(242, 242, 248, 0) 92.19%
    );
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    grid-template-rows: 100px 1fr;
    max-width: 550px;
    transition: 0.5s;
    overflow: hidden;
}

#modal-open-close-btn {
    cursor: pointer;
    color: var(--accent);
}

#analysis-modal > div:first-of-type {
    text-align: right;
    position: relative;
    right: 15px;
    top: 10px;
}

#prices {
    display: grid;
}

#prices-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    margin-bottom: 50px;
}

#prices-row > div:nth-of-type(2) {
    font-size: 62px;
}

.value {
    font-size: 32px;
    color: var(--accent);
}

#rent-buy {
    font-size: 17px;
    font-weight: bold;
}

#loading-container {
    position: relative;
    top: -85px;
    height: 0px;
}

#loading-icon {
    color:#7c7c88;
    animation: spin 1s infinite linear;
    display: none;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform:rotate(360deg);
    }
}